<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="a" placeholder="Informe o A">
    <input type="text" id="b" placeholder="Informe o B">
    <input type="text" id="c" placeholder="Informe o C">
    <button id="btn"> calcula</button>
    <label class="result">Delta</label>
    <input type="text" id="delta">
    <label class="result">X1</label>
    <input type="text" id="x">
    <label class="result">X2</label>
    <input type="text" id="x2">
    <script type="module" src="index.js"></script>
</body>
</html>